div#interface{
	width: 100%;
	height: 100%;	
}
body{
	margin: 0px;
	background-color: #800000;
}
/* Menu de opções */
div#cab{
	background-color: #808080;
	position: absolute;
	margin-top: -150px;
	width: 270px;
	height: 90px;
	text-align: center;
	padding: 0px 0px 10px 0px;
}
div#cab a{
	text-decoration: none;
	color: #000000;
}
div#cab h1{
	font-size: 70px;
	font-family: arial, black;
	margin: 0px;
}
div#cab h2{
	font-size: 12px;
	font-family: arial;
	margin-top: -10px;
}
nav#menuOpcoes ul{
	list-style-type: none;
	margin-left: 270px;
	margin-top: -150px;
	padding: 0px;
	background-color: #333333;
	overflow: hidden;
	position: absolute;
	float: left;
	height: 100px;
}
nav#menuOpcoes li{
	float: left;
}
nav#menuOpcoes li a{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	color: #ffffff;
	padding: 40px;
	text-align: center;
	font-size: 15px;
	transition: background-color 1s;
	height: 100px;
}
nav#menuOpcoes li a:hover{
	background-color: #111111;
	border-top: 10px solid #B40404;
}
div#user{
	position: absolute;
	background-color: #333333;
	margin-top: -150px;
	margin-left: 1020px;
	width: 100%;
	height: 100px;
}
div#user a:hover{
	background-color: #111111;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}
a#userLogin{
	display: block;
	position: absolute;
	color: #ffffff;
	background-color: #B40404;
	margin-top: 25px;
	margin-left: 80px;
	padding-top: 15px;
	width: 200px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	box-shadow: 5px 5px 5px #000000;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

/* Corpo do vestibulinho */
div#corpo{
	position: relative;
	display: block;
	background: url("../Imagens/vestibulinho.jpg");
	background-repeat: no-repeat;
	height: 365px;
	width: 1140px;
	margin: 150px 110px auto 115px;
	box-shadow: 5px 5px 3px #000000;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
footer#rodape{
	position: absolute;
	clear: both;
	background-color: #000000;
	color: #ffffff;
	margin-top: 40px;
	width: 100%;
	height: 82px;
	padding-top: 20px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
footer#rodape a{
	text-decoration: none;
	color: #ffffff;
}
footer#rodape a:hover{
	text-decoration: underline;
	color: #0000CD;
}